body {
  margin: 0;
  width: 100%;
  font-family: "OpenSans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #2c5282;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
